.panel-title, .panel-body {
  font-family: 'Yanone Kaffeesatz', serif; font-weight: normal;
}
.panel-heading {
}
.panel-title {
	margin-left: 0.5em;
}
.panel-title-text {
	margin-left: 0.5em;
}
.panel-column-icon {
	text-align: center;
}
.panel-column-key {
	text-align: right;
	font-style: italic;
}
.panel-column-val {
	text-align: left;
}
.panel-row-odd {
  background-color: #ffffff;
}
.panel-row-even {
  background-color: #f8f8ff;
}