.reservation-form {
  font-family: 'Open Sans', sans-serif;
}
th {
  font-family: 'Open Sans', sans-serif;
  padding-top: 5px;
}
input, textarea, select {
  min-width: 15.0em;
  font-family: inherit;
}
input.field_error {
  background: #ffe8e8;
}
.row {
  margin-bottom: 1.5em;
}
.validation-error {
  color: #690000;
  font-style: italic;
}
.validation-success {
  font-weight: bold;
  color: #006900;
}
.vertically-compact {
  padding-bottom: 0;  
}
.dropdown-menu {
  padding: 7px;
}
textarea[name=info] {
  resize: none;
}
.btn[disabled] {
  opacity: 0.90;
  filter: alpha(opacity=90);
  background-color: #690000;
  color: #777;
}
button[type="reset"] {
  background: #bbb;
}
.white {
  color: #eee;
}
.black {
  color: #444;
}

/* workaround for Android's stock browser: it renders "number" fields shorter */
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
}

/*
.text-muted { background-color: red; }
input.ng-invalid {
}
input.ng-valid {
}
*/
/*
  opacity: 0.3;
  filter:alpha(opacity=3);
*/
/* ???
.dropdown-menu {
	padding: 7px;
}
*/