
/* TODO: put *all* font size specifications inside *Bootstrap* media queries */

.container-fixed {
  font-family: 'Open Sans', sans-serif;
  background-color: #000044;
  margin: 0 auto;
  padding: 1.0em;
  width: 60%;
  margin-top: 10%;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.weather-title {
	font-size: 3.0em;
}
.weather-subtitle {
	font-size: 1.8em;
}
.weather-subtitle-left {
  width: 40%;
}
.weather-subtitle-right {
  width: 60%;
}
.weather-temperature {
  font-size: 5.0em;
  line-height: 1px;
  font-weight: bold;
  padding-left: 2%;
}
.weather-icon {
  font-size: 5.5em;
  text-align: left;
  padding-left: 4%;
  width: 18%;
  min-width: 1.7em;
}
.weather-conditions,
.weather-humidity,
.weather-wind
{
  font-size: 1.1em;
}
.weather-forecast-day,
.weather-forecast-temperature,
.weather-forecast-conditions
{
  font-size: 1.1em;
  width: 30%;
  padding-left: 0.3em;
}
.weather-forecast-day {
  border-top: 1px solid #555;
}
.weather-forecast-day-right,
.weather-forecast-temperature-right,
.weather-forecast-conditions-right
{
  border-left: 1px solid #555;
}
.weather-table {
  table-layout: fixed;
  color: #fff;
  width: 100%;
}
.weather-td {
  /*border: 1px solid red;*/
  white-space: nowrap;
}