<div class="well">
<form name="form" novalidate ng-submit="sendForm()" ng-init="howmany={}; nameMinLen = 3; nameMaxLen = 48; howmanyMin = 1; howmanyMax = 2; ">

  <fieldset>

  <div class="row">
    <div class="large-12 columns">
      <label>Your name</label>
      <input
        name="name" 
        type="text"
        placeholder="Name and Surname"
        ng-model="signup.name"
        ng-minlength=3
        ng-maxlength=48
        ng-focus
        required
      />
      <span class="error" ng-show="form.name.$dirty && form.name.$invalid && !form.name.$focused">
        <small class="error" ng-show="form.name.$error.required">Your name is required</small>
        <small class="error" ng-show="form.name.$error.minlength">Your name is required to be at least {{nameMinLen}} characters</small>
        <small class="error" ng-show="form.name.$error.maxlength">Your name cannot be longer than 48 characters</small>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="large_12 columns">
      <label name="email">How many persons</label>
      <input
        name="howmany"
        type="number"
        placeholder="How many persons you are"
        ng-model="howmany"
        min="{{howmanyMin}}"
        max="{{howmanyMax}}"
        ng-focus
        required
      />
      <span class="error-container" ng-show="form.howmany.$dirty && form.howmany.$invalid && !form.howmany.$focused">
        <small class="error" ng-show="form.howmany.$error.required">Number of persons is required</small>
        <small class="error" ng-show="form.howmany.$error.min">Minimum number of persons is 1</small>
        <small class="error" ng-show="form.howmany.$error.max">Maximum number of persons is 2</small>
        <small class="error" ng-show="form.howmany.$error.invalid">That is not a valid number of persons. Please input a valid number of persons</small>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label name="email">Your email</label>
      <input
        name="email"
        type="email"
        placeholder="Email Address"
        ng-model="email"
        ng-minlength=6
        ng-maxlength=254
        ng-focus
      />
      <span class="error-container" ng-show="form.email.$dirty && form.email.$invalid && !form.email.$focused">
        <small class="error" ng-show="form.email.$error.required">Your email is required</small>
        <small class="error" ng-show="form.email.$error.minlength">Your email is required to be at least 6 characters</small>
        <small class="error" ng-show="form.email.$error.email">That is not a valid email. Please input a valid email</small>
        <small class="error" ng-show="form.email.$error.maxlength">Your email cannot be longer than 254 characters</small>
      </span>
    </div>
  </div>

  <br />

  <div class="row">
  <div class="btn-group">
  <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Confirm</button>
  <button type="cancel" class="btn">Cancel</button>
  </div>
  </div>

</fieldset>

</form>
</div>
